/* Normalization (taken from http://necolas.github.com/normalize.css/ and a little bit from html5 boilerplate) */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, 
strong { 
  font-weight: bold; 
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre, 
code, 
kbd,
samp { 
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, 
input::-moz-focus-inner { 
  border: 0;
}
textarea {
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  vertical-align: middle; 
}
label { 
  cursor: pointer; 
}

/* Mecha styling */
#mecha-editor {
  position: relative;
  float: left;
  width: 502px;
  height: 512px;
  margin: 0 10px;
}
#mecha-source-code {
  display: block;
  width: 100%;
  height: 480px;
  resize: none;
}
#mecha-source-compile {
  float: right;
}
#mecha-source-autocompile, #mecha-source-compile, #mecha-source-code {
  font-size: small;
}
